torch
transformers
strsim
strsimpy
six
nltk
networkx
numpy
scipy
scikit-learn
unidecode
future
joblib
pytz
./Edustream_ai/pke
python-dateutil
flashtext
pandas
sentencepiece
sense2vec
Flask
Flask-RESTful
Flask-CORS
Flask-Migrate
Flask-SQLAlchemy
Flask-Migrate
Flask-JWT-Extended
gunicorn
pytorch_lightning
gunicorn